.card {
    position: relative;
    width: 1400px;
    height: 600px;
    transform-style: preserve-3d;
    perspective: 100%;
}

.card .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 35px rgb(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    transform-style: preserve-3d;
   // background: rgba(255,255,255,0.55);

    background: radial-gradient(100% 249.45% at 0% 2.78%, rgba(250, 220, 220, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    border: 2px solid rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    .profile {
        margin: 2%;
        transform-style: preserve-3d;
        height: 500px;
        width: 300px;
        border: 2px solid rgba(255, 255, 255, 0.24);
        backdrop-filter: blur(20px);
        border-radius: 11px;
        img {
            vertical-align: middle;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            border: 5px solid rgb(218, 160, 160);
            margin: 10px;
            transform: scale(0.7);
        }
        h1,h3{ 
            text-align: center;
        }
    }
}
img:hover .overlay {
    border: 5px solid rgb(105, 25, 25);
    transform: scale(1.3);
}
