<div>
    <h4 class="text-uppercase">About Me</h4>
    
    <ul class="about-me">
        <li>A result oriented 6 years of professional experience in
            <b> UI/ Front End Web Development</b> using different
            types of Web Technologies.
        </li>
        <li>Strong development and hands on experience in <b>Angular, Styled Component, React, HTML5, CSS3,
                SASS, SCSS,Bootstrap, JavaScript and jQuery.</b></li>
        <li>Good experience using <b>GIT systems like GitHub, Bitbucket </b> etc</li>
        <li>Expertise in <b>debugging and troubleshooting </b>existing code using Firebug and Developer Tools.</li>
        <li>Strong experience with <b>Cross Browser Compatibility issues </b> and <b>Optimization</b> of for fast
            loading, including
            CSS, JavaScript and HTML minify and best practices of <b>Responsive Web Design (RWD)</b> using Media
            Queries.</li>
        <li>Good understanding of Backend Technologies such as <b>Node, mongoDB, express and Database.</b></li>
        <li>Focused and goal driven with strong work ethics, continuously striving for improvement coupled with
            commitment to offer quality work.
        </li>
        <li> Adaptable and quick learner with skills to work under pressure.</li>
    </ul>
    <hr>

        <h4 class="text-uppercase">Technical Skills</h4>
        <ul>
        <li><b>Web App:</b> Angular, ReactJS, Angular Material, Bootstrap, flex, JavaScript, jQuery, HTML5 & CSS3</li>
        <li><b>Mobile App:</b> IONIC, Cordova</li>
        <li><b>Server:</b> Node.JS, Firebase, Angular-fire </li>
        <li><b>Databases:</b> MongoDB, MySQL</li>
        <li><b>UI Libraries:</b> Angular-flex, Ngx-bootstrap, Angular-Material</li>
       

    </ul>


</div>